# Auth tokens
.DS_Store

server/venv/
server/.env

server/service_account.json
server/__pycache__

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/.pnp
client/.pnp.*
client/.yarn/*
client/.yarn/patches
client/.yarn/plugins
client/.yarn/releases
client/.yarn/versions

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
server/.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
client/.env*
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts

# env
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/yarn.lock

client/src/lib/auth/tokens.config.ts